# Environment variables
.env
**/ .env
footbot_ tg_bot/.env
footbot_site/.env

# Deployment scripts
manage.ps1
**/manage.ps1
footbot_ tg_bot/manage.ps1

# Configuration files
*.service

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Node.js
node_modules/
dist/
build/
.npm
.eslintcache

# Logs and databases
*.log
*.sqlite
*.sql

# OS files
.DS_Store
Thumbs.db
